/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Gabriola;
      src: url('/fonts/files/Gabriola.ttf') format("truetype");
    }
    @font-face {
        font-family: 'Abril Fatface', cursive;
        src: url('/fonts/files/AbrilFatface-Regular.ttf');
    }
    @font-face {
        font-family: Sheline;
        src: url('/fonts/files/Sheline.ttf') format("truetype");
    }
    @font-face {
        font-family: Edwardian Script ITC;
        src: url('/fonts/files/edwardian.ttf') format("truetype");
    }

    @font-face {
        font-family: 'EB Garamond';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: url('/fonts/files/eb-garamond-latin-400-normal.woff2') format('woff2'), url('/fonts/files/eb-garamond-latin-400-normal.woff') format('woff');

    }

    @font-face {
        font-family: 'EB Garamond';
        font-style: normal;
        font-display: swap;
        font-weight: 700;
        src: url('/fonts/files/eb-garamond-latin-700-normal.woff2') format('woff2'), url('/fonts/files/eb-garamond-latin-700-normal.woff') format('woff');

    }

    @font-face {
        font-family: 'MrsEavesRoman';
        src: url('/fonts/files/MrsEavesRoman.woff') format('woff')

    }

    @font-face {
        font-family: 'MrsEavesRomanSmallCaps';
        src: url('/fonts/files/MrsEavesRomanSmallCaps.woff') format('woff')

    }
}
